h1 {
    color: blue;
}
.container {
    margin: auto;
    border: 2px solid purple;
    background-color: rgb(146, 14, 128);
    max-width: 450px;
}

.screen {
    border: 2px solid green;
    height: 100px;
}

.screenoutput {
    border: 2px solid red;
    background-color: grey;
}

.touchpad {
    
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    justify-content: center;
    width: 100%;
    margin: 0;
    border: 2px solid red;
}

button.touchpad-button {
    margin: 5px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    
}

.bottom-row {
    display: grid;
    
    grid-template-columns: 1fr 1fr 2fr;
    
    justify-content: center;
    border: 2px solid green;
   
}

.touchpad-button-bottom {
    margin: 5px;
}

#button-0, #decimal-button {
    margin:5px;
    width: 75px;
}